* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif;
  height: 100vh;
  width: 100vw;
}

main {
  padding: 15px;
  height: 100%;
  display: flex;
  flex-direction: column;

  position: relative;
}

.logger {
  font-family: 'Fira Code', monospace;
  font-size: 8pt;
  overflow: auto;
  white-space: nowrap;
}

.input-wrapper {
  padding: 15px 10px;
  margin: 8px;
  border: 1px solid lightgray;
  position: relative;
}

.client-box {
  margin-left: 15px;
}

.server-box {
  margin-right: 15px;
}

.client-box:after{
  content: "Client";
  height: 30px;
  position: absolute;
  background-color: white;
  top: -15px;
  left: 10px;
}
.server-box:after{
  content: "Server";
  height: 30px;
  position: absolute;
  background-color: white;
  top: -15px;
  left: 10px;
}

#about-disclaimer {
  max-height: 350px;
  overflow: hidden auto;
}

